<p id="notice"><%= notice %></p>

<div class="col-xs-3">
  <%= render 'users/info', user: current_user %>
  <%= render 'books/form' %>
</div>

<div class="col-xs-9">
  <%= render 'books/table' %>
</div>
