@import "bootstrap-sprockets";
@import "bootstrap";

#notice {
  color: green;
}

#error_explanation {
  color: red;
}
a {
  &:visited {
    color: #666;
  }

  &:hover, &:focus {
    color: #23527c;
    text-decoration: underline;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

header {
  color: white;
  .navbar-left span {
    font-size: 20px;
    padding-top: 10px;
  }
}

.glyphicon {
  &::before {
    padding-right: 10px;
  }
}

.field, .actions {
  margin-bottom: 10px;
}
